---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Projects from "../components/Projects.astro"


//parte de javascript
console.log("Loading")
---
<Layout title="Portfolio Christian Rivero. Full-Stack developer, desarrollador y programador.">
	<main>
		<section>
			<h1 class="font-semibold text-center leading-tight flex flex-col gap-2">Full-stack developer
				<span class="font-semibold text-4xl text-yellow-400 l g:text-3xl 2xl:text-5xl">Christian Rivero</span>
			</h1>
			<h2 class="text-yellow-400 flex flex-row items-center">
				<svg width="35" height="24" viewBox="0 0 24 24" fill="#facc15" xmlns="http://www.w3.org/2000/svg"><path d="M7.53 8.53 4.061 12l3.469 3.47a.75.75 0 1 1-1.06 1.06l-4-4a.749.749 0 0 1 0-1.06l4-4a.75.75 0 0 1 1.06 1.06Zm14 2.94-4-4a.75.75 0 0 0-1.06 1.06L19.939 12l-3.469 3.47a.75.75 0 1 0 1.06 1.06l4-4a.749.749 0 0 0 0-1.06ZM15.263 3.3a.749.749 0 0 0-.965.439l-6 16a.749.749 0 0 0 .439.965.736.736 0 0 0 .263.046.75.75 0 0 0 .7-.487l6-16a.749.749 0 0 0-.437-.963Z"></path></svg>
				<p>About Me</p>
			</h2>
			<h2 class="max-w-xs text-lg font-medium text-neutral-400 lg:max-w-3xl 2xl:max-w-4xl text-pretty mb-5">Buenas! Soy Christian Rivero Marín, Ingeniero Informático de la especialidad del Software graduado el 2024. Novio de Sabrina desde 2024 ❤️.</h2>

			<!-- <div class="flex flex-row">
				<p class="text-left mb-2 mr-2">Skills: </p>
				<div class="flex flex-wrap gap-2 mt-0.5">
					<Badge text="Java" alt="Native"></Badge>
					<Badge text="C" alt="Native"></Badge>
					<Badge text="Unity" alt="Native"></Badge>
				</div>
			</div>
			<div class="flex flex-row">
				<p class="text-left mb-4 mr-2">Idiomas: </p>
				<div class="flex flex-wrap gap-2  mt-0.5">
					<Badge text="Castellano" alt="Native"></Badge>
					<Badge text="Catalán" alt="Native"></Badge>
					<Badge text="Inglés" alt="Native"></Badge>
				</div>
			</div>-->

			<div class="w-full h-[2px] bg-neutral-800 mt-3 mb-3"></div>
			
			<h2 class="text-yellow-400 flex flex-row items-center mb-4">
				<svg width="35" height="24" viewBox="0 0 24 24" fill="#facc15" xmlns="http://www.w3.org/2000/svg"><path d="M7.53 8.53 4.061 12l3.469 3.47a.75.75 0 1 1-1.06 1.06l-4-4a.749.749 0 0 1 0-1.06l4-4a.75.75 0 0 1 1.06 1.06Zm14 2.94-4-4a.75.75 0 0 0-1.06 1.06L19.939 12l-3.469 3.47a.75.75 0 1 0 1.06 1.06l4-4a.749.749 0 0 0 0-1.06ZM15.263 3.3a.749.749 0 0 0-.965.439l-6 16a.749.749 0 0 0 .439.965.736.736 0 0 0 .263.046.75.75 0 0 0 .7-.487l6-16a.749.749 0 0 0-.437-.963Z"></path></svg>
				<p>Projects</p>
			</h2>
			<Projects />

			<div class="w-full h-[2px] bg-neutral-800 mt-7 mb-3"></div>

			<h2 class="text-yellow-400 flex flex-row items-center mt-4">
				<svg width="35" height="24" viewBox="0 0 24 24" fill="#facc15" xmlns="http://www.w3.org/2000/svg"><path d="M7.53 8.53 4.061 12l3.469 3.47a.75.75 0 1 1-1.06 1.06l-4-4a.749.749 0 0 1 0-1.06l4-4a.75.75 0 0 1 1.06 1.06Zm14 2.94-4-4a.75.75 0 0 0-1.06 1.06L19.939 12l-3.469 3.47a.75.75 0 1 0 1.06 1.06l4-4a.749.749 0 0 0 0-1.06ZM15.263 3.3a.749.749 0 0 0-.965.439l-6 16a.749.749 0 0 0 .439.965.736.736 0 0 0 .263.046.75.75 0 0 0 .7-.487l6-16a.749.749 0 0 0-.437-.963Z"></path></svg>
				<p>Contact</p>
			</h2>
			<div class="flex items-center flex-col gap-5">
				<div class="aspect-w-1 aspect-h-1 w-1/2">
					<img class="w-half h-half drop-shadow-2xl rounded-full justify-center" src="/images/logoCRM.jpg" alt="ShoppyFree" style="opacity: 1; transform: translateX(0%) translateZ(0px);"></img>
				</div>
				<a href="mailto:christianrm02@gmail.com" class="button-contact z-30 pl-4 pr-2 py-2 rounded-full border border-white text-white font-normal text-sm flex items-center gap-3 sm:text-xl sm:gap-4 xl:pl-6 xl:pr-3 xl:py-3 2xl:pl-12 2xl:pr-6 2xl:py-4 2xl:text-3xl 2xl:gap-6 group transition-transform transform hover:scale-105" aria-label="Send me an email" data-astro-cid-xmivup5a="">
					<p data-astro-cid-xmivup5a="">Send an email ></p>
				</a>
				<div class="flex gap-4 justify-center mt-0.5">
					<a href="https://github.com/christianrm02" target="_blank">
						<p class="text-gray-400 hover:underline">Github</p>
					</a>
					<a href="www.linkedin.com/in/christian-r-384a4b26a" target="_blank">
						<p class="text-gray-400 hover:underline">Linkedin</p>
					</a>
				</div>
			</div>			
		</section>		
	</main>
</Layout>

<!--
	hover:text-yellow-600
	text-[#a3a3a3]
	m-4
	<div class="w-full h-[2px] bg-neutral-800"></div> LINEA
 -->

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
