---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Projects from "../components/Projects.astro"

//parte de javascript
console.log("Loading")
---

<Layout title="Portfolio Christian Rivero. Full-Stack developer, desarrollador y programador.">
	<main>
		<section>
			<h1 class="font-semibold text-center leading-tight flex flex-col gap-2">Full-stack developer
				<span class="font-semibold text-4xl text-yellow-400 l g:text-3xl 2xl:text-5xl">Christian Rivero</span>
			</h1>
			<h2 class="text-yellow-400">&lt;/&gt; About Me</h2>
			<h2 class="max-w-xs font-medium text-neutral-400 lg:max-w-3xl 2xl:max-w-4xl text-pretty">Buenas! Soy Christian Rivero Marín, Ingeniero Informático de la especialidad del Software graduado el 2024.</h2>
			<div class="w-full h-[2px] bg-neutral-800 mt-2 mb-2"></div>
			<div class="flex flex-row">
				<p class="text-left mb-2 mr-2">Skills: </p>
				<div class="flex flex-wrap gap-2 mt-0.5">
					<Badge text="Java" alt="Native"></Badge>
					<Badge text="C" alt="Native"></Badge>
					<Badge text="Unity" alt="Native"></Badge>
				</div>
			</div>
			<div class="flex flex-row">
				<p class="text-left mb-2 mr-2">Idiomas: </p>
				<div class="flex flex-wrap gap-2  mt-0.5">
					<Badge text="Castellano" alt="Native"></Badge>
					<Badge text="Catalán" alt="Native"></Badge>
					<Badge text="Inglés" alt="Native"></Badge>
				</div>
			</div>

			<div class="w-full h-[2px] bg-neutral-800 mt-2 mb-2"></div>

			<h2 class="text-yellow-400">&lt;/&gt; Projects</h2>
			<Projects />

			<div class="project-card-content p-6 py-12 w-full flex flex-col items-center justify-center gap-4 rounded-[24px] xl:p-12 xl:gap-0 2xl:p-16 2xl:gap-6">
				<div class="glare-content"></div>
				<header class="w-full flex flex-col items-center justify-center gap-6 sm:flex-row sm:justify-between" style="opacity: 1;">
					<section class="w-full text-white flex flex-col gap-6 sm:w-2/5 sm:justify-center lg:gap-6 2xl:gap-8 2xl:w-1/2">
						<header>
							<h3 class="mb-4 font-bold text-2xl relative lg:mb-5 lg:text-4xl 2xl:mb-7 2xl:text-6xl">SHOPPYFREE</h3>
							<p class="max-w-[280px] font-normal text-xs text-neutral-400 lg:max-w-[620px] lg:text-lg 2xl:text-2xl">
								Next.js-based e-commerce platform packed with feature-rich functionalities.
							</p>
						</header>
						<ul class="font-bold text-[10px] flex flex-wrap gap-x-3 gap-y-1 lg:text-lg lg:gap-x-6 lg:gap-y-2 2xl:text-xl">
							<li class="tooltip flex items-center justify-center gap-x-2">
								<svg class="w-6 h-6 lg:w-8 lg:h-8 2xl:w-12 2xl:h-12" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M9 15v-6l7.745 10.65a9 9 0 1 1 2.255 -1.993"></path>
									<path d="M15 12v-3"></path>
								</svg>
								<span class="tooltiptext">nextjs</span>
							</li>
							<!-- ... Otros ítems ... -->
						</ul>
						<a href="https://shoppyfree.vercel.app/" target="_blank" class="icon-work max-w-max text-[#a3a3a3] hover:text-white font-medium text-xs flex items-center justify-start gap-3 transition lg:text-xl lg:gap-4 2xl:text-2xl">
							<p>OPEN PROJECT</p>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 2xl:w-8 2xl:h-8">
								<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
							</svg>
						</a>
					</section>
					<aside class="flex items-center justify-center sm:w-3/5 sm:justify-end 2xl:w-1/2">
						<a class="w-full min-h-[260px] flex items-center justify-center hover:scale-105 transition duration-200 xl:min-h-[320px] 2xl:min-h-[460px]" href="https://shoppyfree.vercel.app/" target="_blank">
							<img class="w-full h-auto drop-shadow-2xl lg:aspect-video" width="960" height="540" src="https://res.cloudinary.com/dhpxqwsym/image/upload/c_fill,h_540,q_100,w_960/v1677061650/works/portfolio/shoppyfree_otpfco" alt="ShoppyFree" style="opacity: 1; transform: translateX(0%) translateZ(0px);">
						</a>
					</aside>
				</header>
				<footer class="w-full flex justify-center sm:justify-start">
					<span class="text-transparent titleEffect font-extrabold text-7xl lg:text-9xl 2xl:text-[156px]" style="opacity: 1;">02</span>
				</footer>
			</div>

			<div class="w-full h-[2px] bg-neutral-800 mt-2 mb-2"></div>
			<h2 class="text-yellow-400">&lt;/&gt; Contact</h2>

			<div class="flex items-center flex-col gap-5">
				<div class="aspect-w-1 aspect-h-1 w-1/2">
					<img class="w-half h-half drop-shadow-2xl rounded-full justify-center" src="/images/logoCRM.jpg" alt="ShoppyFree" style="opacity: 1; transform: translateX(0%) translateZ(0px);"></img>
				</div>
				<a href="mailto:christianrm02@gmail.com" class="button-contact z-30 pl-4 pr-2 py-2 rounded-full border border-white text-white font-normal text-sm flex items-center gap-3 sm:text-xl sm:gap-4 xl:pl-6 xl:pr-3 xl:py-3 2xl:pl-12 2xl:pr-6 2xl:py-4 2xl:text-3xl 2xl:gap-6" aria-label="Send me an email" data-astro-cid-xmivup5a="">
					<p data-astro-cid-xmivup5a="">Send an email ></p>
				</a>
				<div class="flex gap-4 justify-center mt-0.5">
					<a href="https://github.com/christianrm02" target="_blank">
						<p class="text-gray-400 hover:underline">Github</p>
					</a>
					<a href="www.linkedin.com/in/christian-r-384a4b26a" target="_blank">
						<p class="text-gray-400 hover:underline">Linkedin</p>
					</a>
				</div>
			</div>

			
			
		</section>
		
	</main>
</Layout>

<!--
	hover:text-yellow-600
	m-4
	<div class="w-full h-[2px] bg-neutral-800"></div> LINEA
 -->

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
