<div class="flex gap-4 justify-center mt-0.5 mb-6">
    <a href="https://github.com/christianrm02" target="_blank">
        <p class="text-gray-400 hover:underline">Github</p>
    </a>
    <a href="www.linkedin.com/in/christian-r-384a4b26a" target="_blank">
        <p class="text-gray-400 hover:underline">Linkedin</p>
    </a>
</div>